h1{
    font-size: 35px;
}

.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border: 5px solid rgb(95, 38, 73);
    border-radius: 15px;
    font-size: 40px;
    height: 70px;
}
button{
    border-radius: 10px;
    font-size: 40px;
    background-color: rgb(238, 178, 178);
    width: 106px;
    height: 90px;
    margin: 6px;
}
.calculator{
    border: 4px solid black;
    background-color:palevioletred;
    padding: 23px;
    border-radius: 40px;
    display: inline-block;
}